<div class="row">
<div class="col-md-12">
    <div class="box">

        <div class="box-content">
            <div class="clearfix">
                <div class="pull-left">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <select style="display: none;" name="cat" class="chosen gallery-cat col-xs-12" data-placeholder="分类">
                                <option selected="selected" value=""> </option>
                                <option value="opt-1">Category-1</option>
                                <option value="opt-2">Category-2</option>
                                <option value="opt-3">Category-3</option>
                                <option value="opt-4">Category-4</option>
                                <option value="opt-5">Category-5</option>
                            </select>
                            <div title="" style="width: 100%;" class="chosen-container chosen-container-single"><a class="chosen-single chosen-default" tabindex="-1"><span>分类</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input autocomplete="off" type="text"></div><ul class="chosen-results"><li class="active-result" style="" data-option-array-index="1">Category-1</li><li class="active-result" style="" data-option-array-index="2">Category-2</li><li class="active-result" style="" data-option-array-index="3">Category-3</li><li class="active-result" style="" data-option-array-index="4">Category-4</li><li class="active-result" style="" data-option-array-index="5">Category-5</li></ul></div></div>
                        </div>
                        <div class="btn-group">
                            <select style="display: none;" name="sort" class="chosen gallery-sort" data-placeholder="排序" data-nosearch="true">
                                <option selected="selected" value=""> </option>
                                <option value="sort-1">Date</option>
                                <option value="sort-2">Author</option>
                                <option value="sort-3">Category</option>
                            </select><div title="" style="width: 100%;" class="chosen-container chosen-container-single"><a class="chosen-single chosen-default" tabindex="-1"><span>排序</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input autocomplete="off" type="text"></div><ul class="chosen-results"><li class="active-result" style="" data-option-array-index="1">Date</li><li class="active-result" style="" data-option-array-index="2">Author</li><li class="active-result" style="" data-option-array-index="3">Category</li></ul></div></div>
                        </div>
                        <div class="btn-group">
                            <a data-original-title="Apply filter" href="#" class="btn btn-success show-tooltip" title=""><i class="fa fa-check"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <ul class="gallery">
                <li>
                    <a href="#/1.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/1_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/2.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/2_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/3.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/3_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/4.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/4_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/5.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/5_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/6.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/6_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/7.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/7_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/8.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/8_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/9.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/9_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/10.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/10_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>

                <li>
                    <a href="#/5.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/5_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/5.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/5_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/1.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/1_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/2.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/2_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/3.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/3_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/4.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/4_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/5.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/5_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/1.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/1_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/2.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/2_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/3.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/3_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/4.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/4_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/5.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/5_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/1.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/1_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/2.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/2_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/3.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/3_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/4.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/4_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/5.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/5_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/1.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/1_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/2.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/2_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/3.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/3_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/4.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/4_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/5.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/5_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/1.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/1_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/2.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/2_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/3.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/3_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/4.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/4_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/5.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/5_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/1.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/1_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#/2.jpg" rel="prettyPhoto" title="Description of image">
                        <div>
                            <img src="images/2_thumb.jpg" alt="">
                            <i></i>
                        </div>
                    </a>
                    <div class="gallery-tools">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>

            </ul>
            <div class="text-center">
                <ul class="pagination pagination-bullet">
                    <li class="active"><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>