<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-file"></i>个人基本信息 </h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="icon-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form action="#" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">邮箱</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" value="JACKY" class="form-control" disabled="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">登录名称</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" value="Jack" class="form-control">
                            <span class="help-inline"><a href="#">更换 ?</a></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">昵称</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" value="Brown" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">出生年份</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input class="date-picker form-control" size="16" type="text" value="07/26/1983">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">用户性别</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <label class="radio-inline">
                                <input type="radio" name="gender" value="male" checked=""> 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" value="female"> 女
                            </label>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">个人简介</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <textarea class="form-control" rows="6"> </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                            <button type="保存" class="btn btn-primary">保存</button>
                            <button type="button" class="btn">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="box box-orange">
            <div class="box-title">
                <h3><i class="icon-file"></i> 修改头像URL</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="icon-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form action="#" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 col-md-4 control-label">Image Upload</label>
                        <div class="col-sm-9 col-md-8 controls">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new img-thumbnail" style="width: 200px; height: 150px;">
                                    <img src="./User Profile - FLATY Admin_files/profile-picture.jpg" alt="" data-pinit="registered">
                                </div>
                                <div class="fileupload-preview fileupload-exists img-thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                <div>
   <span class="btn btn-file"><span class="fileupload-new">选择</span>
   <span class="fileupload-exists">更改</span>
   <input type="file" class="default"></span>
                                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-4">
                            <button type="保存" class="btn btn-primary">保存</button>
                            <button type="button" class="btn">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-red">
            <div class="box-title">
                <h3><i class="icon-file"></i> 修改密码</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="icon-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form action="#" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">当前密码</label>
                        <div class="col-sm-8 col-md-7 controls">
                            <input type="password" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">新密码</label>
                        <div class="col-sm-8 col-md-7 controls">
                            <input type="password" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-md-5 control-label">再次输入密码</label>
                        <div class="col-sm-8 col-md-7 controls">
                            <input type="password" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4 col-md-7 col-md-offset-5">
                            <button type="保存" class="btn btn-primary">保存</button>
                            <button type="button" class="btn">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>