<div style="background:#fff;">
    <tabset class="active-red">
        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-bell"></i> 待办任务
            </tab-heading>
            <div ng-include="'views/task/inboxTask.view.html'" style="height:900px"></div>
        </tab>
        <tab heading="我的任务">
            <div ng-include="'views/task/inboxTask.view2.html'" style="height:900px"></div>
        </tab>
        <tab heading="团队任务">
            <div ng-include="'views/task/inboxTask.view2.html'" style="height:900px"></div>
        </tab>
        <tab heading="参与任务">
            <div ng-include="'views/task/inboxTask.view2.html'" style="height:900px"></div>
        </tab>
        <tab heading="历史任务">
            <div ng-include="'views/task/inboxTask.view2.html'" style="height:900px"></div>
        </tab>
        <tab heading="我的任务2">
            <div ng-include="'views/task/task.html2'" style="height:900px"></div>
        </tab>
    </tabset>

</div>