<div class="login-page">
    <div class="login-wrapper">
        <form id="form-login" action="/login" method="post">
            <h3>登录到您的帐户</h3>
            <hr>
            <div class="form-group">
                <div class="controls">
                    <input placeholder="登录名" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <input placeholder="密码" class="form-control" type="password">
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <label class="checkbox">
                        <input value="remember" type="checkbox"> 下次自动登录
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary form-control">登录</button>
                </div>
            </div>
            <hr>
            <p class="clearfix">
                <a href="#/forgot" class="goto-forgot pull-left">忘记密码?</a>
                <a href="#/register" class="goto-register pull-right">现在注册</a>
            </p>
        </form>
    </div>
</div>