<div class="login-page">
    <div class="login-wrapper">
        <form id="form-forgot" action="index.html" method="get">
            <h3>找回密码</h3>
            <hr>
            <div class="form-group">
                <div class="controls">
                    <input placeholder="Email" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary form-control">重置</button>
                </div>
            </div>
            <hr>
            <p class="clearfix">
                <a href="#/login" class="goto-login pull-left">← 返回登录</a>
            </p>
        </form>
    </div>
</div>